/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quattrocento:400,700&display=swap');

/* General */
body, html { margin: 0; height: 100%; }
img { width: 100%; }
button {
  background-color: #884294;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.25rem;
  margin: 0;
  padding: 13px 15px 10px 15px;
  text-transform: uppercase;
  transition: ease 0.2s;
}
  button:hover {
    opacity: 0.75;
  }

/* Type */
h1, h2 {
  font-family: "Hind", sans-serif;
  font-weight: 400;
  margin: 0;
}

h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  margin: 0;
}

p {
  font-family: "Quattrocento", serif;
  font-weight: 400;
  margin: 0;
}

a {
  color: #000;
  transition: ease 0.2s;
}
  a:hover {
    opacity: 0.5;
    color: #000;
    text-decoration: none;
  }

/* Icons */
p i { font-size: 1.2rem; }

/* Bootstrap Customization */
.container {
  max-width: none;
  padding: 0;
}
  .container .row { margin: 0; }

/* Logo */
svg.svg-logo {
  width: 150px;
  cursor: pointer;
}

  svg.svg-logo path { fill: transparent; }

  svg.svg-logo text {
    font-family: "Hind", sans-serif;
    font-size: 44px;
  }

  svg.svg-logo #top-curve-text { font-weight: 700; }
  svg.svg-logo #top-curve-text textpath:nth-child(2) { fill: #884294; }
  svg.svg-logo #bottom-curve-text {
    fill: #3a7b2a;
    font-weight: 300;
    letter-spacing: 2px;
  }

/* Navbar */
nav {
  padding: 25px 50px;
  position: relative;
}

/* Custom Classes */
/* type */
.hind { font-family: "Hind", sans-serif; }
.roboto-condensed { font-family: "Roboto Condensed", sans-serif; }
.quattrocento { font-family: "Quattrocento", serif; }

.xl-h1 {
  font-size: 3rem;
}

.sm-p {
  font-size: .9rem;
}

.weight-light { font-weight: 300; }
.weight-regular { font-weight: 400; }
.weight-bold { font-weight: 700; }

.main-purple { color: #884294; }
.secondary-purple { color: #d3b7f1; }

.main-green { color: #3a7b2a; }
.secondary-green { color: #97d66d; }

.white { color: #ffffff; }

/* margins */
.no-margin { margin: 0 !important; }

.xs-margin-top { margin-top: 5px; }
.xs-margin-bottom { margin-bottom: 5px; }
.xs-margin-left { margin-left: 5px; }
.xs-margin-right { margin-right: 5px; }

.sm-margin-top { margin-top: 10px; }
.sm-margin-bottom { margin-bottom: 10px; }
.sm-margin-left { margin-left: 10px; }
.sm-margin-right { margin-right: 10px; }

.margin-top { margin-top: 15px; }
.margin-bottom { margin-bottom: 15px; }
.margin-left { margin-left: 15px; }
.margin-right { margin-right: 15px; }

.md-margin-top { margin-top: 20px; }
.md-margin-bottom { margin-bottom: 20px; }
.md-margin-left { margin-left: 20px; }
.md-margin-right { margin-right: 20px; }

.lg-margin-top { margin-top: 25px; }
.lg-margin-bottom { margin-bottom: 25px; }
.lg-margin-left { margin-left: 25px; }
.lg-margin-right { margin-right: 25px; }

/* padding */
.no-padding { padding: 0 !important; }

.lg-pad-top { padding-top: 25px; }
.lg-pad-bottom { padding-bottom: 25px; }
.lg-pad-left { padding-left: 25px; }
.lg-pad-right { padding-right: 25px; }

.xl-pad-top { padding-top: 50px; }
.xl-pad-bottom { padding-bottom: 50px; }
.xl-pad-left { padding-left: 50px; }
.xl-pad-right { padding-right: 50px; }

.dbl-pad-left { padding-left: 100px; }
.dbl-pad-right { padding-right: 100px; }

.align-bottom {
  position: relative;
  height: 100%;
}
  .align-bottom .item-to-align {
    position: absolute;
    bottom: 0;
  }

/* hover dropdowns */
.dropdown {
  position: relative;
  display: inline-block;
}

  .dropdown .dropdown-link {
    cursor: pointer;
    transition: ease 0.2s;
  }

  .dropdown:hover .dropdown-link { opacity: 0.5; }

  .dropdown .dropdown-menu {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
    min-width: 160px;
    padding: 0;
    position: absolute;
    z-index: 1;
  }

  .dropdown:hover .dropdown-menu { display: block; }

    .dropdown .dropdown-menu a {
      display: block;
      padding: 5px 10px;
    }

    .dropdown .dropdown-menu a:hover {
      background-color: #884294;
      color: #fff;
      opacity: 1;
    }

/* flex container */
.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container.flex-start { justify-content: flex-start; }
.flex-container.flex-end { justify-content: flex-end; }
.flex-container.space-between { justify-content: space-between; }

.flex-container.align-end { align-items: flex-end; }

/* parallax */
.parallax {
  height: 100%;
  max-height: 750px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax.xs-parallax {
  max-height: 200px;
}

.parallax.sm-parallax {
  max-height: 400px;
}

  .parallax .filter-bg { background-color: rgba(0, 0, 0, 0.2); }
  .parallax .filter-bg-dark { background-color: rgba(0, 0, 0, 0.5); }

/* misc */
.h-100 { height: 100%; }

.bg-secondary-purple { background-color: #d3b7f1; }
.bg-secondary-green { background-color: #97d66d; }
